<div ng-controller="OrdersController" id="ordersForm" class="fullPage">
    <div class="text-center">
        <h2>View Orders</h2>
        <br />
    </div>
    <div class="form-group" style="max-width: 300px; margin: 0 auto;">
        <select class="form-control" ng-model="Filters.Status" ng-change="LoadOrders()">
            <option value="128" selected>Current</option>
            <option value="130">Picked Up</option>
        </select>
    </div>

    <div ng-show="Filters.Status == 130" class="medPage">
        <div class="form-group" style="max-width: 300px; margin: 10px auto;">
            <label class="btn btn-info form-control control-label" ng-click="hideShowDates()">{{ dateText }}</label>
        </div>

        <div class="row form-group" style="margin:0 auto;" ng-show="isCollapsed">
            <div class="col-sm-6">
                <div class="input-group center">
                    <label class="control-label">Start Date</label><br />
                    {{Filters.StartDate | date:'fullDate' }}
                    <uib-datepicker ng-model="Filters.StartDate" class="well well-sm" datepicker-options="dateOptions" ng-required="true" ng-change="LoadOrders()" required></uib-datepicker>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group center">
                    <label class="control-label">End Date</label><br />
                    {{Filters.EndDate | date:'fullDate' }}
                    <uib-datepicker ng-model="Filters.EndDate" class="well well-sm" datepicker-options="dateOptions" ng-required="true" ng-change="LoadOrders()" required></uib-datepicker>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th ng-if="Filters.Status == 128">Dropoff Date</th>
                    <th ng-if="Filters.Status == 129">Ready Date</th>
                    <th ng-if="Filters.Status == 130">Sold Date</th>
                    <th>Invoice</th>
                    <th class="hidden-xs">Department</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="filteredOrders.length == 0"><td colspan="4">No orders found</td></tr>
                <tr ng-repeat="order in filteredOrders">
                    <td ng-if="Filters.Status == 128">{{order.DropoffDateTime | date:'short'}}</td>
                    <td ng-if="Filters.Status == 129">{{order.ReadyDateTime | date:'short'}}</td>
                    <td ng-if="Filters.Status == 130">{{order.SoldDateTime | date:'short'}}</td>
                    <td><a href="" ng-click="ShowOrder(order.InvoiceID, Orders)">{{order.InvoiceKey}}</a></td>
                    <td class="hidden-xs">{{order.DepartmentGroupName}}</td>
                    <td>{{order.Balance | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group text-center">
        <uib-pagination boundary-links="true" max-size="3" items-per-page="itemsPerPage" total-items="Orders.length" ng-model="currentPage" ng-change="pageChanged()" num-pages="NumPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>

    <div class="table-responsive" ng-if="Filters.Status == 128">
        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Ready Date</th>
                    <th>Invoice</th>
                    <th class="hidden-xs">Department</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="filteredReadyOrders.length == 0"><td colspan="4">No orders found</td></tr>
                <tr ng-repeat="readyOrder in filteredReadyOrders">
                    <td>{{readyOrder.ReadyDateTime | date:'short'}}</td>
                    <td><a href="" ng-click="ShowOrder(readyOrder.InvoiceID, ReadyOrders)">{{readyOrder.InvoiceKey}}</a></td>
                    <td class="hidden-xs">{{readyOrder.DepartmentGroupName}}</td>
                    <td>{{readyOrder.Balance | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group text-center" ng-if="Filters.Status == 128">
        <uib-pagination boundary-links="true" max-size="3" items-per-page="itemsPerPage" total-items="ReadyOrders.length" ng-model="readyCurrentPage" ng-change="readyPageChanged()" num-pages="readyNumPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
</div>