<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CustomerConnect</title>

    <!-- Dependencies -->
    <link id="themeCss" rel="stylesheet" type="text/css" href="/@TENANT/Template/Default/Content/bootstrap/bootstrap.min.css?v=3.3.2" />
    <link id="additionalCss" rel="stylesheet" type="text/css" href="" />
    <link rel="stylesheet" href="/@TENANT/Template/Default/Content/css/styles-bundle.min.css?v=1.0.0" />

    <script src="/@TENANT/Template/Default/Scripts/extras-bundle.min.js?v=1.0.0"></script>
    <script src="/@TENANT/Template/Default/Scripts/bootstrap-bundle.min.js?v=1.0.0"></script>
    <script src="/@TENANT/Template/Default/Scripts/angular-bundle.min.js?v=1.0.0"></script>

    <!-- SPOT API -->
    <script src="/@TENANT/Template/Default/Scripts/customerconnect.min.js?v=1.0.0"></script>

    <!-- Core -->
    <script src="/@TENANT/Template/Default/Components/app.js"></script>
    <script src="/@TENANT/Template/Default/Components/service.js"></script>

    <!-- Directives -->
    <script src="/@TENANT/Template/Default/Components/Shared/PasswordIndicator/PasswordIndicatorDirective.js"></script>
    <script src="/@TENANT/Template/Default/Components/Shared/CCExp/CCExp.js"></script>
    <script src="/@TENANT/Template/Default/Components/Shared/Notifications/Notifications.js"></script>
    <script src="/@TENANT/Template/Default/Components/Shared/Preferences/Preferences.js"></script>
    <script src="/@TENANT/Template/Default/Components/Shared/States/States.js"></script>
    <script src="/@TENANT/Template/Default/Components/Shared/DynamicContent/DynamicContent.js"></script>

    <!-- Components -->
    <script src="/@TENANT/Template/Default/Components/Shared/MainMenu/MainMenu.js"></script>
    <script src="/@TENANT/Template/Default/Components/Shared/SiteHeader/SiteHeader.js"></script>
    <script src="/@TENANT/Template/Default/Components/Shared/SiteFooter/SiteFooter.js"></script>

    <script src="/@TENANT/Template/Default/Components/Shared/CreditCard/CreditCard.js"></script>

    <script src="/@TENANT/Template/Default/Components/Shared/AuthProviders/GoogleAuth/GoogleAuth.js"></script>
    <script src="/@TENANT/Template/Default/Components/Shared/AuthProviders/FacebookAuth/FacebookAuth.js"></script>

    <!-- View Components -->


    <!-- View Controllers - Anonymous -->
    <script src="/@TENANT/Template/Default/Components/Views/Login/LoginController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Views/Reminder/ReminderController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Views/Signup/SignupController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Views/Confirmation/ConfirmationController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Views/Notifications/NotificationsController.js"></script>

    <!-- View Controllers - Authorized-->
    <script src="/@TENANT/Template/Default/Components/Views/Account/AccountController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Views/GiftCards/GiftCardsController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Views/Kiosk/KioskController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Views/Orders/OrdersController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Views/Payments/PaymentsController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Views/Pickup/PickupController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Views/Statements/StatementsController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Views/Suspend/SuspendController.js"></script>

    <!-- Dialog Controllers -->
    <script src="/@TENANT/Template/Default/Components/Dialogs/DialogController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Dialogs/OrderController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Dialogs/PickupsController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Dialogs/SendMessageController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Dialogs/StatementController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Dialogs/SuspensionsController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Dialogs/Messages/MessagesController.js"></script>
    <script src="/@TENANT/Template/Default/Components/Dialogs/Message/MessageController.js"></script>

    <!-- Captcha -->
    <script src='//www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit' async defer></script>

    <!-- Auth Providers -->
    <script src="//apis.google.com/js/platform.js" async defer></script>
    <script src="//connect.facebook.net/en_US/sdk.js"></script>
</head>
<body ng-cloak>
    <div>
        <div ui-view=""></div>
        <div style="bottom: 0; right: 0; position: fixed;">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="10000" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        </div>
    </div>
</body>
</html>