<div class="modal-header">
    <h4 class="modal-title">Add Gift Card</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="control-label">Number</label>
        <input class="form-control" type="text" placeholder="Enter the gift card number. (Required)" ng-model="data.Number" required />
    </div>
    <div class="modal-footer">
        <label class="btn btn-success" ng-click="done()">Apply</label>
        <label class="btn btn-danger" ng-click="cancel()">Cancel</label>
    </div>
</div>