<div class="modal-header">
    <h4 class="modal-title">Add Gift Card</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label class="control-label">Number</label>
        <input class="form-control" type="text" placeholder="Enter the gift card number. (Required)" ng-model="data.Number" required />
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-6" style="padding: 3px;">
                <label class="btn btn-success btn-block" ng-click="done()">Apply</label>
            </div>
            <div class="col-sm-6" style="padding: 3px;">
                <label class="btn btn-danger btn-block" ng-click="cancel()">Cancel</label>
            </div>
        </div>
    </div>
</div>