<div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
</div>
<div class="modal-body">
    <form name="form" novalidate>
        <passwordindicator />

        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-6" style="padding: 3px;">
                    <label class="btn btn-danger btn-block" ng-click="cancel()">Cancel</label>
                </div>
                <div class="col-sm-6" style="padding: 3px;">
                    <label class="btn btn-success btn-block" ng-click="done()" ng-disabled="!data.Valid || data.PasswordConfirm != data.Password">Apply</label>
                </div>
            </div>
        </div>
    </form>
</div>
