<div class="modal-header">
    <h4 class="modal-title">Refer A Friend</h4>
</div>
<div class="modal-body text-center">
    <div class="form-group">
        {{ data.Store.StoreName }}<br />
        {{ data.Store.PhysicalAddress.Address1 }}<br />
        {{ data.Store.PhysicalAddress.City }}, {{ data.Store.PhysicalAddress.State }} {{ data.Store.PhysicalAddress.Zip }}<br />
        {{ data.Store.PhysicalAddress.Phone }}<br />
        {{ data.Store.HoursOfOperation }}
    </div>
    <div class="form-group">
	<hr/>
	Share MyDryCleaner with your friends and you both receive $10.00
    </div>
    <div class="form-group">
	Simply share your personal referral code and receive credit when your friend uses us for the first time
    </div>
    <div class="form-group">
	<span class="btn btn-success" ng-click="inviteFriend()" role="button" tabindex="0">Invite Friends</span>
    </div>
    <div class="form-group">
	<hr/>
	<div class="text-left">
		<label class='form-label'>Your code</label>
	</div>
        <span>{{ data.Customer.ReferralCode }}</span>
    </div>

</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-sm-6" style="padding: 3px;">
            <label class="btn btn-primary btn-block" ng-click="print('printBody')"><span class="glyphicon glyphicon-print"></span>  Print</label>
        </div>
        <div class="col-sm-6" style="padding: 3px;">
            <label class="btn btn-success btn-block" ng-click="done()">Close</label>
        </div>
    </div>
</div>