<div class="modal-header">
    <h4 class="modal-title">{{Statement.StatementDate | localizedDate:'shortDate'}}<span class="pull-right glyphicon glyphicon-remove" ng-click="close()"></span></h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="form-group">
            <span class="input-group">Due Date: {{Statement.DueDate | localizedDate:'shortDate'}}</span>
            <span class="input-group">Closing Date: {{Statement.ClosingDate | localizedDate:'shortDate'}}</span>
        </div>
        <div class="form-group">
            <span class="input-group">Previous Balance: {{Statement.BalancePrevious | localizedCurrency}}</span>
            <span class="input-group">Total Charges: {{Statement.TotalCharges | localizedCurrency}}</span>
            <span class="input-group">Total Payments: {{Statement.TotalPayments | localizedCurrency}}</span>
            <span class="input-group">Statement Balance: {{Statement.Balance | localizedCurrency}}</span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th class="hidden-xs">Item</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in filteredItems">
                    <td>{{item.ActivityDateTime | localizedDate:'shortDate'}}</td>
                    <td class="hidden-xs"><a href="" ng-click="ShowOrder(item.InvoiceID, Orders)">{{item.InvoiceKey}}</a></td>
                    <td ng-if="item.InvoiceKey != ''"><a href="" ng-click="ShowOrder(item.InvoiceID, Orders)">{{item.Description}}</a></td>
                    <td ng-if="item.InvoiceKey == ''">{{item.Description}}</td>
                    <td>{{item.Amount | localizedCurrency}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="form-group text-center">
        <uib-pagination boundary-links="true" max-size="3" items-per-page="itemsPerPage" total-items="Statement.StatementItems.length" ng-model="currentPage" ng-change="pageChanged()" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-4" style="padding: 3px;">
                <label class="btn btn-warning btn-block" ng-show="$ctrl.settings.getProfile().General['Enable Messages'] != 0" ng-controller="SendMessageController" ng-click="open()"><span class="glyphicon glyphicon-question-sign"></span>  Have a question?</label>
            </div>
            <div class="col-sm-4" style="padding: 3px;">
                <label class="btn btn-info btn-block" ng-click="print('printBody')"><span class="glyphicon glyphicon-print"></span>  Print</label>
            </div>
            <div class="col-sm-4" style="padding: 3px;">
                <label class="btn btn-primary btn-block" ng-click="close()">Close</label>
            </div>
        </div>
    </div>
</div>