<div ng-controller="accountcontroller" id="accountFormContainer" class="smallPage container">
    <div class="text-center">
        <h2>Account Information</h2>
        <br />
    </div>
    <form name="accountForm" novalidate>
        <div class="form-group">
            <change-password require="requirePasswordChange"></change-password>
            <label class="btn btn-default" ng-click="customerReferral()" ng-show="Settings.General['Customer Referral']['Enable Customer Referral'] == 1 && Customer.ShowReferral">Refer a friend</label>
            <label class="btn btn-default" ng-click="convertToRoute()" ng-if="isEnableDeliveryVisible()">Enable delivery</label>
        </div>
        <div class="form-group">
            <label class="btn btn-default" ng-click="printBagTag()" ng-show="Settings['Account Update']['Show Print Bag Tag'] == 1">Print Bag Tag</label>
        </div>

        <h3>Basic</h3>
        <div class="form-group">
            <div class="input-group" ng-class="{'has-error':!validEmail() && accountForm.email.$dirty, 'has-success':validEmail() && accountForm.email.$dirty}">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="email" id="emailAddress" name="email" ng-model="Customer.EmailAddress" class="form-control" placeholder="Email Address (Required)" required />
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="!validEmail() && accountForm.email.$dirty"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="validEmail() && accountForm.email.$dirty"></span>
            </div>

            <div class="input-group has-feedback" ng-class="{'has-error':accountForm.firstname.$invalid && accountForm.firstname.$dirty, 'has-success':accountForm.firstname.$valid && accountForm.firstname.$dirty}" ng-if="isFirstLastName()">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="firstName" name="firstname" ng-model="Customer.FirstName" class="form-control" placeholder="First Name (Required)" required />
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="accountForm.firstname.$invalid && accountForm.firstname.$dirty"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="accountForm.firstname.$valid && accountForm.firstname.$dirty"></span>
            </div>
            <div class="input-group has-feedback" ng-class="{'has-error':accountForm.lastname.$invalid && accountForm.lastname.$dirty, 'has-success':accountForm.lastname.$valid && accountForm.lastname.$dirty}" ng-if="isFirstLastName()">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="lastName" name="lastname" ng-model="Customer.LastName" class="form-control" placeholder="Last Name (Required)" required />
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="accountForm.lastname.$invalid && accountForm.lastname.$dirty"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="accountForm.lastname.$valid && accountForm.lastname.$dirty"></span>
            </div>

            <div class="input-group has-feedback" ng-class="{'has-error':accountForm.name.$invalid && accountForm.name.$dirty, 'has-success':accountForm.name.$valid && accountForm.name.$dirty}" ng-if="isName()">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="Name" name="name" ng-model="Customer.Name" class="form-control" placeholder="Name (Required)" required />
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="accountForm.name.$invalid && accountForm.name.$dirty"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="accountForm.name.$valid && accountForm.name.$dirty"></span>
            </div>

            <div class="form-group" style="display:table-row;">
                <span class="input-group-addon" style="display:table-cell"><label class="glyphicon glyphicon-calendar">&nbsp;Birthday</label></span>
                <select class="form-control sidebyside" ng-model="birthMonth" ng-options="n for n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                    <option value="" selected disabled>Month</option>
                </select>
                <select class="form-control sidebyside" ng-model="birthDate" ng-options="n for n in birthDays">
                    <option value="" selected disabled>Day</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div ng-show="Settings['Account Update']['Show Rewards Points'] == 1">
                <label class="control-label">Rewards Points:&nbsp;&nbsp;</label>{{ Customer.FBPoints }}
                <br />
            </div>
            <div ng-show="Settings['Account Update']['Show Cash Credit'] == 1">
                <label class="control-label">Available Cash Credit:&nbsp;&nbsp;</label>{{ Customer.CashCreditBalance | localizedCurrency}}
                <br />
            </div>
            <div ng-show="Customer.LockerPIN &&!Settings['Account Update']['Edit Locker PIN']">
                <label class="control-label">Locker PIN:&nbsp;&nbsp;</label>{{ Customer.LockerPIN }}
                <br />
            </div>
        </div>

        <div style="max-width: 350px;">
            <h3>Phones</h3>
            <div class="form-group" ng-repeat="phone in Customer.Phones" layout="row">
                <phone-number value="phone" masks="Settings.LocalitySettings.PhoneMask" options="{hasPhoneType:true}" on-update="accountForm.$setDirty();"></phone-number>
                <md-input-container>
                    <md-icon md-font-library="material-icons" ng-click="RemovePhone($index); accountForm.$setDirty();">delete</md-icon>
                </md-input-container>
            </div>
        </div>

        <div class="form-group">
            <br />
            <div class="input-group btn btn-info" ng-if="Customer.Phones.length < 5" ng-click="AddPhone(); accountForm.$setDirty();">
                <label class="glyphicon glyphicon-plus"></label><label>&nbsp;&nbsp;Add Phone</label>
            </div>
        </div>

        <h3>Addresses</h3>
        <div class="form-group">
            <div class="form-group">
                <h4>Primary</h4>
                <div class="input-group has-feedback" ng-class="{'has-error':!Validation.PrimaryAddress, 'has-success':Validation.PrimaryAddress && accountForm.priAddress1.$dirty}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" name="priAddress1" ng-model="Customer.PrimaryAddress.Address1" class="form-control" placeholder="Address 1" aria-describedby="add1" />
                </div>

                <div class="input-group has-feedback" ng-class="{'has-error':!Validation.PrimaryAddress, 'has-success':Validation.PrimaryAddress && accountForm.priAddress2.$dirty}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" name="priAddress2" ng-model="Customer.PrimaryAddress.Address2" class="form-control" placeholder="Address 2" />
                </div>

                <ng-container ng-if="Settings.LocalitySettings.LocalityNameShort === 'NZ'">
                    <div class="input-group has-feedback" ng-class="{'has-error':!Validation.PrimaryAddress, 'has-success':Validation.PrimaryAddress && accountForm.priCity.$dirty}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input name="priCity" ng-model="Customer.PrimaryAddress.City" class="form-control" placeholder="Suburb" />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <div class="input-group has-feedback" ng-class="{'has-error':!Validation.PrimaryAddress, 'has-success':Validation.PrimaryAddress && accountForm.priState.$dirty}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input name="priState" ng-model="Customer.PrimaryAddress.State" class="form-control" placeholder="City" />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </ng-container>

                <ng-container ng-if="Settings.LocalitySettings.LocalityNameShort !== 'NZ'">
                    <div class="input-group has-feedback" ng-class="{'has-error':!Validation.PrimaryAddress, 'has-success':Validation.PrimaryAddress && accountForm.priCity.$dirty}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input name="priCity" ng-model="Customer.PrimaryAddress.City" class="form-control" placeholder="City" />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <states ng-model="Customer.PrimaryAddress.State" ng-class="{'has-error':!Validation.PrimaryAddress, 'has-success':Validation.PrimaryAddress && accountForm.priAddress1.$dirty}" />
                </ng-container>

                <div class="input-group has-feedback" ng-class="{'has-error':!Validation.PrimaryAddress, 'has-success':Validation.PrimaryAddress && accountForm.priZip.$dirty}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="priZip" ng-model="Customer.PrimaryAddress.Zip" class="form-control" placeholder="{{Settings.LocalitySettings.PostalCodeName}}" />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>


            <div class="form-group" ng-if="Settings['Account Update']['Show Delivery Address'] == 1">
                <h4>Delivery</h4>
                <div class="input-group has-feedback" ng-class="{'has-error':!Validation.DeliveryAddress, 'has-success':Validation.DeliveryAddress && accountForm.delAddress1.$dirty}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" name="delAddress1" ng-model="Customer.DeliveryAddress.Address1" class="form-control" placeholder="Address 1" aria-describedby="add1" />
                </div>

                <div class="input-group has-feedback" ng-class="{'has-error':!Validation.DeliveryAddress, 'has-success':Validation.DeliveryAddress && accountForm.delAddress2.$dirty}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="delAddress2" ng-model="Customer.DeliveryAddress.Address2" class="form-control" placeholder="Address 2" />
                </div>

                <ng-container ng-if="Settings.LocalitySettings.LocalityNameShort === 'NZ'">
                    <div class="input-group has-feedback" ng-class="{'has-error':!Validation.DeliveryAddress, 'has-success':Validation.DeliveryAddress && accountForm.delCity.$dirty}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input name="delCity" ng-model="Customer.DeliveryAddress.City" class="form-control" placeholder="Suburb" />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <div class="input-group has-feedback" ng-class="{'has-error':!Validation.DeliveryAddress, 'has-success':Validation.DeliveryAddress && accountForm.delState.$dirty}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input name="delState" ng-model="Customer.DeliveryAddress.State" class="form-control" placeholder="City" />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </ng-container>

                <ng-container ng-if="Settings.LocalitySettings.LocalityNameShort !== 'NZ'">
                    <div class="input-group has-feedback" ng-class="{'has-error':!Validation.DeliveryAddress, 'has-success':Validation.DeliveryAddress && accountForm.delCity.$dirty}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input name="delCity" ng-model="Customer.DeliveryAddress.City" class="form-control" placeholder="City" />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <states ng-model="Customer.DeliveryAddress.State" ng-class="{'has-error':!Validation.DeliveryAddress, 'has-success':Validation.DeliveryAddress && accountForm.delAddress1.$dirty}" />
                </ng-container>

                <div class="input-group has-feedback" ng-class="{'has-error':!Validation.DeliveryAddress, 'has-success':Validation.DeliveryAddress && accountForm.delZip.$dirty}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="delZip" ng-model="Customer.DeliveryAddress.Zip" class="form-control" placeholder="{{Settings.LocalitySettings.PostalCodeName}}" />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group" ng-if="Settings['Account Update']['Show Billing Address'] == 1">
                <h4>Billing</h4>
                <div class="input-group has-feedback" ng-class="{'has-error':!Validation.BillingAddress, 'has-success':Validation.BillingAddress && accountForm.bilAddress1.$dirty}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" name="bilAddress1" ng-model="Customer.BillingAddress.Address1" class="form-control" placeholder="Address 1" aria-describedby="add1" />
                </div>

                <div class="input-group has-feedback" ng-class="{'has-error':!Validation.BillingAddress, 'has-success':Validation.BillingAddress && accountForm.bilAddress2.$dirty}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="bilAddress2" ng-model="Customer.BillingAddress.Address2" class="form-control" placeholder="Address 2" />
                </div>

                <ng-container ng-if="Settings.LocalitySettings.LocalityNameShort === 'NZ'">
                    <div class="input-group has-feedback" ng-class="{'has-error':!Validation.BillingAddress, 'has-success':Validation.BillingAddress && accountForm.bilCity.$dirty}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input name="bilCity" ng-model="Customer.BillingAddress.City" class="form-control" placeholder="Suburb" />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <div class="input-group has-feedback" ng-class="{'has-error':!Validation.BillingAddress, 'has-success':Validation.BillingAddress && accountForm.bilState.$dirty}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input name="bilState" ng-model="Customer.BillingAddress.State" class="form-control" placeholder="City" />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </ng-container>

                <ng-container ng-if="Settings.LocalitySettings.LocalityNameShort !== 'NZ'">
                    <div class="input-group has-feedback" ng-class="{'has-error':!Validation.BillingAddress, 'has-success':Validation.BillingAddress && accountForm.bilCity.$dirty}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input name="bilCity" ng-model="Customer.BillingAddress.City" class="form-control" placeholder="City" />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <states ng-model="Customer.BillingAddress.State" ng-class="{'has-error':!Validation.BillingAddress, 'has-success':Validation.BillingAddress && accountForm.bilAddress1.$dirty}" />
                </ng-container>

                <div class="input-group has-feedback" ng-class="{'has-error':!Validation.BillingAddress, 'has-success':Validation.BillingAddress && accountForm.bilZip.$dirty}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="bilZip" ng-model="Customer.BillingAddress.Zip" class="form-control" placeholder="{{Settings.LocalitySettings.PostalCodeName}}" />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="Customer.Locker == 'Y' && Settings['Account Update']['Edit Locker PIN'] == 1">
            <h4>Locker Pin</h4>

            <div class="input-group has-feedback" ng-class="{'has-error':accountForm.lockerPin.$invalid && accountForm.lockerPin.$dirty, 'has-success':accountForm.lockerPin.$valid && accountForm.lockerPin.$dirty}">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <input type="text" id="lockerPin" name="lockerPin" ng-model="Customer.LockerPIN" class="form-control" placeholder="Locker Pin" ng-pattern="/^\d{4}$/" />
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="accountForm.lockerPin.$invalid && accountForm.lockerPin.$dirty"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="accountForm.lockerPin.$valid && accountForm.lockerPin.$dirty"></span>
            </div>
            <span ng-if="accountForm.lockerPin.$invalid && accountForm.lockerPin.$dirty">Locker Pin should be 4 digits</span>
        </div>



        <h3>Credit Cards</h3>
        <credit-cards cards="Customer.CreditCards" on-update="accountForm.$setDirty();"></credit-cards>

        <div ng-if="Settings.Notifications">
            <h3>Notifications</h3>
            <div class="form-group" style="text-align: left;">
                <input type="submit" class="btn btn-success" value="Disable All" ng-click="DisableAll();" />
            </div>
            <notifications ng-model="Customer" options="notifyOptions" />
        </div>

        <div ng-if="Settings.Preferences">
            <h3>Preferences</h3>
            <preferences ng-model="Customer.Preferences" />
        </div>

        <div>
            <h3>Special Instructions</h3>
            <special-instructions />
        </div>

        <div ng-if="configService.authProviders.anyEnabled()">
            <h3>Linked Social Accounts</h3>
            <facebook-auth></facebook-auth>
            <google-auth></google-auth>
        </div>

        <div class="form-group" style="text-align: center; margin-top: 10px;">
            <input type="button" class="btn btn-danger" value="Undo Changes" ng-click="UndoChanges();" ng-disabled="!accountForm.$dirty" />
            <input type="button" class="btn btn-success" value="Save" ng-click="SaveAccount();" ng-disabled="!accountForm.$valid ||!accountForm.$dirty || !primaryAddressValid()" />
        </div>
    </form>
</div>

