<div ng-controller="accountcontroller" id="accountForm" class="smallPage container">
    <div class="text-center">
        <h2>Account Information</h2>
        <br />
    </div>
    <form name="accountForm" novalidate>
        <div class="form-group">
            <label class="btn btn-success" ng-click="changePassword()">Change Password</label>
            <label class="btn btn-default" ng-click="customerReferral()" ng-show="Settings.General['Customer Referral']['Enable Customer Referral'] == 1 && Customer.ShowReferral">Refer a friend</label>
            <label class="btn btn-default" ng-click="convertToRoute()" ng-if="Customer.RouteName == '' && Settings.General['Route Scheduling'] == 1">Enable delivery</label>
        </div>
        <h3>Basic</h3>
        <div class="form-group">
            <div class="input-group" ng-class="{'has-error':!validEmail() && basicForm.email.$dirty, 'has-success':validEmail() && basicForm.email.$dirty}">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="email" id="emailAddress" name="email" ng-model="Customer.EmailAddress" class="form-control" placeholder="Email Address (Required)" required />
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="!validEmail() && basicForm.email.$dirty"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="validEmail() && basicForm.email.$dirty"></span>
            </div>

            <div class="input-group has-feedback" ng-class="{'has-error':basicForm.firstname.$invalid && basicForm.firstname.$dirty, 'has-success':basicForm.firstname.$valid && basicForm.firstname.$dirty}">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="firstName" name="firstname" ng-model="Customer.FirstName" class="form-control" placeholder="First Name (Required)" required />
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="basicForm.firstname.$invalid && basicForm.firstname.$dirty"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="basicForm.firstname.$valid && basicForm.firstname.$dirty"></span>
            </div>
            <div class="input-group has-feedback" ng-class="{'has-error':basicForm.lastname.$invalid && basicForm.lastname.$dirty, 'has-success':basicForm.lastname.$valid && basicForm.lastname.$dirty}">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="lastName" name="lastname" ng-model="Customer.LastName" class="form-control" placeholder="Last Name (Required)" required />
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="basicForm.lastname.$invalid && basicForm.lastname.$dirty"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="basicForm.lastname.$valid && basicForm.lastname.$dirty"></span>
            </div>

            <div class="form-group" style="display:table-row;">
                <span class="input-group-addon" style="display:table-cell"><label class="glyphicon glyphicon-calendar">&nbsp;Birthday</label></span>
                <select class="form-control sidebyside" ng-model="birthMonth" ng-options="n for n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                    <option value="" selected disabled>Month</option>
                </select>
                <select class="form-control sidebyside" ng-model="birthDate" ng-options="n for n in birthDays">
                    <option value="" selected disabled>Day</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div ng-show="Settings['Account Update']['Show Rewards Points'] == 1">
                <label class="control-label">Rewards Points:&nbsp;&nbsp;</label>{{ Customer.FBPoints }}
                <br />
            </div>
            <div ng-show="Settings['Account Update']['Show Cash Credit'] == 1">
                <label class="control-label">Available Cash Credit:&nbsp;&nbsp;</label>{{ Customer.CashCreditBalance | currency}}
                <br />
            </div>
            <div ng-show="Customer.LockerPIN">
                <label class="control-label">Locker PIN:&nbsp;&nbsp;</label>{{ Customer.LockerPIN }}
                <br />
            </div>
        </div>

        <div style="max-width: 350px;">
            <h3>Phones</h3>
            <div class="form-group" ng-repeat="phone in Customer.Phones" style="display:table-row;">
                <span class="input-group-addon" style="display:table-cell"><label class="glyphicon glyphicon-phone"></label></span>
                <input id="phoneNumber" name="phonenumber" ng-model="phone.Number" class="form-control" placeholder="{{ Settings.General['Data Formats']['Phone Mask'] }}" tooltip="{{ Settings.General['Data Formats']['Phone Mask'] }}" tooltip-trigger="focus" required type="tel" />
                <select ng-model="phone.PhoneType" class="form-control">
                    <option>Home</option>
                    <option value="Cell/Mobile">Mobile</option>
                    <option>Work</option>
                    <option>Other</option>
                    <option>Principal</option>
                </select>
                <div class="input-group-addon" ng-click="RemovePhone($index); accountForm.$setDirty();"><label class="glyphicon glyphicon-trash"></label></div>
            </div>
        </div>

        <div class="form-group">
            <br />
            <div class="input-group btn btn-info" ng-if="Customer.Phones.length < 5" ng-click="AddPhone(); accountForm.$setDirty();">
                <label class="glyphicon glyphicon-plus"></label><label>&nbsp;&nbsp;Add Phone</label>
            </div>
        </div>

        <h3>Addresses</h3>
        <div class="form-group">
            <div class="form-group">
                <h4>Primary</h4>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" id="address1" ng-model="Customer.PrimaryAddress.Address1" class="form-control" placeholder="Address 1" aria-describedby="add1" />
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="address2" ng-model="Customer.PrimaryAddress.Address2" class="form-control" placeholder="Address 2" />
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="city" ng-model="Customer.PrimaryAddress.City" class="form-control" placeholder="City" />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>

                <states ng-model="Customer.PrimaryAddress.State" />

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="zip" ng-model="Customer.PrimaryAddress.Zip" class="form-control" placeholder="Postal Code" />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group" ng-if="Settings['Account Update']['Show Delivery Address'] == 1">
                <h4>Delivery</h4>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" id="address1" ng-model="Customer.DeliveryAddress.Address1" class="form-control" placeholder="Address 1" aria-describedby="add1" />
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="address2" ng-model="Customer.DeliveryAddress.Address2" class="form-control" placeholder="Address 2" />
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="city" ng-model="Customer.DeliveryAddress.City" class="form-control" placeholder="City" />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>

                <states ng-model="Customer.DeliveryAddress.State" />

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="zip" ng-model="Customer.DeliveryAddress.Zip" class="form-control" placeholder="Postal Code" />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group" ng-if="Settings['Account Update']['Show Billing Address'] == 1">
                <h4>Billing</h4>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" id="address1" ng-model="Customer.BillingAddress.Address1" class="form-control" placeholder="Address 1" aria-describedby="add1" />
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="address2" ng-model="Customer.BillingAddress.Address2" class="form-control" placeholder="Address 2" />
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="city" ng-model="Customer.BillingAddress.City" class="form-control" placeholder="City" />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>

                <states ng-model="Customer.BillingAddress.State" />

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="zip" ng-model="Customer.BillingAddress.Zip" class="form-control" placeholder="Postal Code" />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <h3>Credit Card</h3>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                <input id="creditcardnumber" class="form-control" ng-model="Customer.CreditCards[0].CardInfo" placeholder="Card Number" />
            </div>
            <ccexp ng-model="Customer.CreditCards[0].CardExpiration" />
        </div>

        <div ng-if="Settings.Notifications">
            <h3>Notifications</h3>
            <notifications ng-model="Customer.Notifications" />
        </div>

        <div ng-if="Settings.Preferences">
            <h3>Preferences</h3>
            <preferences ng-model="Customer.Preferences" />
        </div>

        <div ng-if="configService.authProviders.anyEnabled">
            <h3>Linked Social Accounts</h3>
            <google-auth></google-auth>
            <facebook-auth></facebook-auth>
        </div>

        <div class="form-group" style="text-align: center; margin-top: 10px;">
            <input type="button" class="btn btn-danger" value="Undo Changes" ng-click="UndoChanges(); accountForm.$setPristine();" ng-disabled="!accountForm.$dirty" />
            <input type="submit" class="btn btn-success" value="Save" ng-click="SaveAccount();" ng-disabled="!accountForm.$dirty" />
        </div>
    </form>
</div>