<div ng-controller="LoginController">
    <div class="versionInfo" ng-if="Settings.Version" >Version  {{Settings.Version}}</div>
    <div class="container">

        <div class="smallPage">
            <div class="text-center">
                <h2>Login</h2>
                <br />
            </div>

            <form name="loginForm" ng-submit="loginUser();" novalidate>
                <div class="form-group">
                    <div class="input-group has-feedback" ng-class="{'has-error':!validEmail(), 'has-success':validEmail()}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="text" class="form-control" ng-model="Login.emailAddress" name="loginEmail" placeholder="Email Address or Customer ID" title="Please enter your email address or customer ID." required />
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="loginForm.loginEmail.$dirty && !validEmail()"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="loginForm.loginEmail.$dirty && validEmail()"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group has-feedback" ng-class="{'has-error':loginForm.loginPassword.$invalid && loginForm.loginPassword.$dirty, 'has-success':loginForm.loginPassword.$valid && loginForm.loginPassword.$dirty}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" ng-model="Login.password" name="loginPassword" placeholder="Password" title="Password must contain 6 to 30 characters with at least 1 capital letter and 1 number." required ng-minlength="4" ng-maxlength="30" />
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="loginForm.loginPassword.$invalid && loginForm.loginPassword.$dirty"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="loginForm.loginPassword.$valid && loginForm.loginPassword.$dirty"></span>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="Login.rememberEmail" />&nbsp;&nbsp;Remember my email address.
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4" style="padding: 3px;">
                        <label class="btn btn-success btn-block col-sm-4" ng-click="loginUser();" ng-disabled="!loginForm.loginEmail.$valid || !loginForm.loginPassword.$valid">Login</label>
                    </div>
                    <div class="col-sm-4" style="padding: 3px;">
                        <label class="btn btn-danger btn-block" ng-click="forgotPassword();" ng-disabled="!validEmail()">Forgot Password</label>
                    </div>
                    <div class="col-sm-4" style="padding: 3px;">
                        <label class="btn btn-primary btn-block" ng-click="createAccount();">Create Account</label>
                    </div>
                </div>

                <div class="row" style="margin-top: 35px;" ng-if="configService.authProviders.anyEnabled()">
                    <div class="col-sm-6" style="padding: 3px;" ng-if="configService.authProviders.facebook.enabled">
                        <facebook-auth on-login="getCustomer()"></facebook-auth>
                    </div>
                    <div class="col-sm-6" style="padding: 3px;" ng-if="configService.authProviders.google.enabled">
                        <google-auth on-login="getCustomer()"></google-auth>
                    </div>
                </div>

                <input type="submit" style="display: none;" />
            </form>

            <div style="margin-top: 40px;" ng-if='Settings.General["Gift Card Balance Check Enabled"] == 1'>
                <div class="input-group">
                    <input ng-model="GiftCard.Numbers" name="GiftCard.Numbers" type="text" class="form-control" placeholder="Enter gift card number(s)" title="Gift card number or numbers separated with comma" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="getGiftCardsBalances()">Check Balance</button>
                    </span>
                </div>
                <div class="alert alert-danger" role="alert" ng-if="GiftCard.ErrorMessage">
                    {{GiftCard.ErrorMessage}}
                </div>
                <div class="alert alert-info" role="alert" ng-if="GiftCard.BalanceResult">
                    <div ng-repeat="c in GiftCard.BalanceResult">
                        {{c.Number}}: {{c.Balance}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
