<div class="form-group">
    <div class="input-group has-feedback" ng-class="{'has-error':!data.Valid && data.Password.length > 0, 'has-success':data.Valid && data.Password.length > 0}">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" ng-model="data.Password" name="password" class="form-control" placeholder="Choose a password (Required)" type="password" required maxlength="30" />
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="!data.Valid && data.Password.length > 0"></span>
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="data.Valid && data.Password.length > 0"></span>
    </div>
    <span>6-20 Characters, 1 uppercase letter, 1 lowercase letter, 1 number.</span>
    <div style="margin-top:10px;">
        Password Strength:
        <progressbar max="100" value="passwordStrength" type="{{ cssClass }}">
            <span class="text-center">{{ passwordStrength }}%</span>
        </progressbar>
        
    </div>

    <div class="input-group has-feedback" ng-class="{'has-error':data.PasswordConfirm.length > 0 && data.PasswordConfirm != data.Password, 'has-success':data.PasswordConfirm.length > 0 && data.PasswordConfirm == data.Password}">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" ng-model="data.PasswordConfirm" name="passwordConfirm" class="form-control" placeholder="Confirm password (Required)" type="password" required maxlength="20" />
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="data.PasswordConfirm.length > 0 && data.PasswordConfirm != data.Password"></span>
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="data.PasswordConfirm.length > 0 && data.PasswordConfirm == data.Password"></span>
    </div>
</div>
