<div ng-controller="PickupController" class="medPage">
    <div class="text-center">
        <h2>Schedule Your Pickup</h2>
        <br />
    </div>

    <div class="form-group">
        <form name="pickupForm" novalidate>

            <div class="form-group" ng-if="Address.isVisible">
                <h3>Address</h3>
                {{Address.Address1}}
                <span ng-if="Address.Address2">, </span>
                {{Address.Address2}}
                , {{Address.City}}
                , {{Address.State}}
                {{Address.Zip}}

                <div ng-if="Address.Addressee">
                    {{Address.Addressee}}
                </div>
            </div>

            <div class="form-group">
                <h3>Pickup</h3>
                <md-radio-group ng-model="Pickup.selectedPickup" ng-change="onPickupChanged()" class="pickupGrid">
                    <md-radio-button value="{{x.Ordinal}}" class="md-primary" ng-repeat="x in PickupList">
                        <i class="material-icons">date_range</i>
                        {{x.Date| localizedDate:'pickupDate'}}
                        <div class="pickupRight">
                            <i class="material-icons">schedule</i>
                            {{x.TimeRange}}
                            <span class="pickupRouteIcon">
                                <i class="material-icons" ng-if="x.IsRoute">local_shipping</i>
                            </span>
                        </div>
                        <div ng-if="x.Comment" class="pickupComment">
                            {{x.Comment}}
                        </div>
                        <div class="pickupBottomLine"></div>
                    </md-radio-button>
                </md-radio-group>

            </div>
            <div class="form-group" ng-if="!disableDeliveryOptions && DeliveryList && (DeliveryList.length>0)">
                <h3>Delivery</h3>
                <md-radio-group ng-model="Pickup.selectedDelivery" class="pickupGrid">
                    <md-radio-button value="{{x.Ordinal}}" class="md-primary" ng-repeat="x in DeliveryList" ng-if="x.IsVisible">
                        <i class="material-icons">date_range</i>
                        {{x.Date| localizedDate:'pickupDate'}}
                        <div class="pickupRight">
                            <i class="material-icons">schedule</i>
                            {{x.TimeRange}}
                            <span class="pickupRouteIcon">
                                <i class="material-icons" ng-if="x.IsRoute">local_shipping</i>
                            </span>
                        </div>
                        <div ng-if="x.Comment" class="pickupComment">
                            {{x.Comment}}
                        </div>
                        <div class="pickupBottomLine"></div>
                    </md-radio-button>
                </md-radio-group>
            </div>

            <div class="form-group">
                <h3>Special Instructions</h3>
                <textarea name="comments" class="form-control" ng-model="Pickup.Comments" title="Please enter a message." maxlength="255" rows="6"></textarea>
                <span>{{Pickup.Comments.length}} / 255</span>
            </div>

            <div class="form-group" ng-if="Settings.Pickup['Terms and Conditions Acceptance Required']==1">
                <div class="input-group terms-input">
                    <label for="cbAcceptTerms">
                        <input type="checkbox" id="cbAcceptTerms" ng-model="Pickup.AcceptTerms" required />
                        <span>
                            I have read and accept the company's standard <a target="_blank" href="{{Settings.Pickup['Terms and Conditions URL']}}">Terms & Conditions</a> relating to Home/Office collection and delivery services.
                        </span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12" style="padding: 3px;" ng-show="isRequestPickup()" >
                    <button class="btn btn-success btn-block" ng-click="requestPickup()" ng-disabled="!isActive">Request Pickup</button>
                </div>
                <div class="col-sm-12" style="padding: 3px;" ng-hide="isRequestPickup()">
                    <button class="btn btn-success btn-block" ng-click="cancelPickup()" ng-disabled="!isActive">Cancel Pickup</button>
                </div>
            </div>



        </form>
    </div>
</div>